<div class="container py-5 d-flex justify-content-center" *ngIf="producto">
  <div class="card shadow-lg w-100 mw-100" style="max-width: 600px;">
    <div class="card-body">
      <h2 class="card-title text-primary fw-bold mb-3 text-center">
        {{ producto.nombre }}
      </h2>
      
      <h5 class="text-muted text-center mb-4 fst-italic">
        {{ producto.descripcion_corta }}
      </h5>

      <p class="card-text mb-4">
        {{ producto.descripcion_larga }}
      </p>

      <div class="d-flex justify-content-between align-items-center border-top pt-3">
        <span class="text-success fw-bold fs-5">
          ${{ producto.precio  }}
        </span>
        <small class="text-secondary">
          Proveedor: {{ producto.proveedor }}
        </small>
      </div>
    </div>
  </div>
</div>

<!-- En caso de que no se haya encontrado el producto aún o haya error -->
<div class="container py-5 text-center" *ngIf="!producto">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
